In [1]:
import pandas as pd

Exploratory Data Analysis

In [2]:
!pip install pandas_profiling
!pip install sweetviz
!pip install matplotlib

Collecting pandas_profiling
  Downloading pandas_profiling-3.6.6-py2.py3-none-any.whl (324 kB)
     -------------------------------------- 324.4/324.4 kB 6.7 MB/s eta 0:00:00
Collecting ydata-profiling
  Downloading ydata_profiling-4.1.1-py2.py3-none-any.whl (344 kB)
     ------------------------------------- 344.9/344.9 kB 10.8 MB/s eta 0:00:00
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.13.2)
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (6.0)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     -------------------------------------- 102.7/102.7 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (3.5.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (2.11.3)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.21.5)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (2.28.1)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.9.1)
Collecting imagehash==4.3.1
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     -------------------------------------- 296.5/296.5 kB 9.2 MB/s eta 0:00:00
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp39-cp39-win_amd64.whl (663 kB)
     ------------------------------------- 663.5/663.5 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.11.2)
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.6-cp39-cp39-win_amd64.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.4.4)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\bert\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (4.64.1)
Requirement already satisfied: pillow in c:\users\bert\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (9.2.0)
Requirement already satisfied: PyWavelets in c:\users\bert\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (1.3.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\bert\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (21.4.0)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ---------------------------------------- 4.7/4.7 MB 8.4 MB/s eta 0:00:00
Requirement already satisfied: networkx>=2.4 in c:\users\bert\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (2.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bert\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas_profiling) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas_profiling) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bert\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling->pandas_profiling) (2022.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\bert\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas_profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\bert\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling->pandas_profiling) (4.3.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bert\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas_profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bert\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas_profiling) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bert\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas_profiling) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bert\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas_profiling) (2022.9.14)
Requirement already satisfied: patsy>=0.5.2 in c:\users\bert\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas_profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\bert\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling->pandas_profiling) (0.4.5)
Requirement already satisfied: six in c:\users\bert\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->ydata-profiling->pandas_profiling) (1.16.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27082 sha256=78b9fb78f382df77373d467945a5f0d75e169f8d907a57cd58ca20939c3b9e7f
  Stored in directory: c:\users\bert\appdata\local\pip\cache\wheels\1d\05\04\c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, pydantic, multimethod, imagehash, visions, phik, ydata-profiling, pandas_profiling
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 pandas_profiling-3.6.6 phik-0.12.3 pydantic-1.10.6 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata-profiling-4.1.1
Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     ---------------------------------------- 15.1/15.1 MB 5.6 MB/s eta 0:00:00
Requirement already satisfied: jinja2>=2.11.1 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (1.9.1)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (4.64.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (1.4.4)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (3.5.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\bert\anaconda3\lib\site-packages (from sweetviz) (1.21.5)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.12.0-py3-none-any.whl (36 kB)
Requirement already satisfied: zipp>=3.1.0 in c:\users\bert\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bert\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bert\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: colorama in c:\users\bert\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\users\bert\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.12.0 sweetviz-2.1.4
Requirement already satisfied: matplotlib in c:\users\bert\anaconda3\lib\site-packages (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.17 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bert\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\bert\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [1]:
import pandas as pd 
import numpy as np
import pandas_profiling as pp 
import sweetviz as sv

C:\Users\bert\AppData\Local\Temp\ipykernel_18412\3156431394.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

In [2]:
data1 = pd.read_csv("data_clean.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data_clean.csv'

In [ ]:
data1

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [ ]:
data1.tail(10)

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
148         149   30.0    193.0   6.9     70     9   26  2010    70       C
149         150    NaN    145.0  13.2     77     9   27  2010    77      PS
150         151   14.0    191.0  14.3     75     9   28  2010    75       S
151         152   18.0    131.0   8.0     76     9   29  2010    76      PS
152         153   20.0    223.0  11.5     68     9   30  2010    68       S
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

In [ ]:
# Data Structure
type(data1)
data1.shape

(158, 10)

In [ ]:
data1.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

Data Type Conversion

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [ ]:
data1

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [ ]:
data2=data1.iloc[:,1:]

In [ ]:
data2

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     67     5    1  2010    67       S
1     36.0    118.0   8.0     72     5    2  2010    72       C
2     12.0    149.0  12.6     74     5    3  2010    74      PS
3     18.0    313.0  11.5     62     5    4  2010    62       S
4      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     67     5    1  2010    67       C
154   30.0    193.0   6.9     70     9   26  2010    70      PS
155    NaN    145.0  13.2     77     9   27  2010    77       S
156   14.0    191.0  14.3     75     9   28  2010    75       S
157   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [ ]:
#The method .copy() is used here so that any changes made in new DataFrame don't get reflected in the original one
data=data2.copy()

In [ ]:
data['Month']=pd.to_numeric(data['Month'],errors='coerce')
data['Temp C']=pd.to_numeric(data['Temp C'],errors='coerce')# coerce will introduce NA values for non numeric data in the columns
data['Weather']=data['Weather'].astype('category')           #data['Wind']=data['Wind'].astype('int64')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   157 non-null    float64
 4   Month    157 non-null    float64
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    category
dtypes: category(1), float64(5), int64(3)
memory usage: 10.3 KB

Duplicates

In [ ]:
data[data.duplicated()].shape

(1, 9)

In [ ]:
data

     Ozone  Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
0     41.0    190.0   7.4    67.0    5.0    1  2010    67       S
1     36.0    118.0   8.0    72.0    5.0    2  2010    72       C
2     12.0    149.0  12.6    74.0    5.0    3  2010    74      PS
3     18.0    313.0  11.5    62.0    5.0    4  2010    62       S
4      NaN      NaN  14.3    56.0    5.0    5  2010    56       S
..     ...      ...   ...     ...    ...  ...   ...   ...     ...
153   41.0    190.0   7.4    67.0    5.0    1  2010    67       C
154   30.0    193.0   6.9    70.0    9.0   26  2010    70      PS
155    NaN    145.0  13.2    77.0    9.0   27  2010    77       S
156   14.0    191.0  14.3    75.0    9.0   28  2010    75       S
157   18.0    131.0   8.0    76.0    9.0   29  2010    76       C

[158 rows x 9 columns]

In [ ]:
#Print the duplicated rows
data[data.duplicated()]

     Ozone  Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
156   14.0    191.0  14.3    75.0    9.0   28  2010    75       S

In [ ]:
data_cleaned1=data.drop_duplicates()

In [ ]:
data_cleaned1.shape

(157, 9)

Drop Columns

In [ ]:
data_cleaned2=data_cleaned1.drop("Temp C",axis=1)

In [ ]:
data_cleaned2

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
0     41.0    190.0   7.4    5.0    1  2010    67       S
1     36.0    118.0   8.0    5.0    2  2010    72       C
2     12.0    149.0  12.6    5.0    3  2010    74      PS
3     18.0    313.0  11.5    5.0    4  2010    62       S
4      NaN      NaN  14.3    5.0    5  2010    56       S
..     ...      ...   ...    ...  ...   ...   ...     ...
152   20.0    223.0  11.5    9.0   30  2010    68       S
153   41.0    190.0   7.4    5.0    1  2010    67       C
154   30.0    193.0   6.9    9.0   26  2010    70      PS
155    NaN    145.0  13.2    9.0   27  2010    77       S
157   18.0    131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

Rename The Columns

In [ ]:
#rename the Solar column
data_cleaned3 = data_cleaned2.rename({'Solar.R': 'Solar'}, axis=1)

In [ ]:
data_cleaned3

     Ozone  Solar  Wind  Month  Day  Year  Temp Weather
0     41.0  190.0   7.4    5.0    1  2010    67       S
1     36.0  118.0   8.0    5.0    2  2010    72       C
2     12.0  149.0  12.6    5.0    3  2010    74      PS
3     18.0  313.0  11.5    5.0    4  2010    62       S
4      NaN    NaN  14.3    5.0    5  2010    56       S
..     ...    ...   ...    ...  ...   ...   ...     ...
152   20.0  223.0  11.5    9.0   30  2010    68       S
153   41.0  190.0   7.4    5.0    1  2010    67       C
154   30.0  193.0   6.9    9.0   26  2010    70      PS
155    NaN  145.0  13.2    9.0   27  2010    77       S
157   18.0  131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

Outliner Detection

In [ ]:
# histogram of Ozone
data_cleaned3['Ozone'].hist()

In [ ]:
#Box plot
data_cleaned3.boxplot(column=['Ozone'])

In [ ]:
#Descriptive stat
data_cleaned3['Ozone'].describe()

count    119.000000
mean      41.815126
std       32.659249
min        1.000000
25%       18.000000
50%       31.000000
75%       62.000000
max      168.000000
Name: Ozone, dtype: float64

In [ ]:
data_cleaned3

     Ozone  Solar  Wind  Month  Day  Year  Temp Weather
0     41.0  190.0   7.4    5.0    1  2010    67       S
1     36.0  118.0   8.0    5.0    2  2010    72       C
2     12.0  149.0  12.6    5.0    3  2010    74      PS
3     18.0  313.0  11.5    5.0    4  2010    62       S
4      NaN    NaN  14.3    5.0    5  2010    56       S
..     ...    ...   ...    ...  ...   ...   ...     ...
152   20.0  223.0  11.5    9.0   30  2010    68       S
153   41.0  190.0   7.4    5.0    1  2010    67       C
154   30.0  193.0   6.9    9.0   26  2010    70      PS
155    NaN  145.0  13.2    9.0   27  2010    77       S
157   18.0  131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

In [ ]:
#Bar plot
data['Weather'].value_counts().plot.bar()

Missing Values And Imputation

In [ ]:
import seaborn as sns
cols = data_cleaned3.columns 
colours = ['#000099', '#ffff00'] # specify the colours - yellow is missing. blue is not missing.
sns.heatmap(data_cleaned3[cols].isnull(),
            cmap=sns.color_palette(colours))

In [ ]:
data_cleaned3[data_cleaned3.isnull().any(axis=1)].head()

    Ozone  Solar  Wind  Month  Day  Year  Temp Weather
4     NaN    NaN  14.3    5.0    5  2010    56       S
5    28.0    NaN  14.9    5.0    6  2010    66       C
9     NaN  194.0   8.6    5.0   10  2010    69       S
10    7.0    NaN   6.9    5.0   11  2010    74       C
23   32.0   92.0  12.0    NaN   24  2010    61       C

In [ ]:
data_cleaned3.isnull().sum()

Ozone      38
Solar       7
Wind        0
Month       1
Day         0
Year        0
Temp        0
Weather     3
dtype: int64

In [ ]:
#Mean Imputation
mean = data_cleaned3['Ozone'].mean()
print(mean)

41.81512605042017

In [ ]:
data_cleaned3['Ozone'] = data_cleaned3['Ozone'].fillna(mean)

In [ ]:
data_cleaned3

         Ozone  Solar  Wind  Month  Day  Year  Temp Weather
0    41.000000  190.0   7.4    5.0    1  2010    67       S
1    36.000000  118.0   8.0    5.0    2  2010    72       C
2    12.000000  149.0  12.6    5.0    3  2010    74      PS
3    18.000000  313.0  11.5    5.0    4  2010    62       S
4    41.815126    NaN  14.3    5.0    5  2010    56       S
..         ...    ...   ...    ...  ...   ...   ...     ...
152  20.000000  223.0  11.5    9.0   30  2010    68       S
153  41.000000  190.0   7.4    5.0    1  2010    67       C
154  30.000000  193.0   6.9    9.0   26  2010    70      PS
155  41.815126  145.0  13.2    9.0   27  2010    77       S
157  18.000000  131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

In [ ]:
#Missing value imputation for categorical vlaue
#Get the object columns
obj_columns=data_cleaned3[['Weather']]

In [ ]:
obj_columns.isnull().sum()

Weather    3
dtype: int64

In [ ]:
#Missing value imputation for categorical vlaue
obj_columns=obj_columns.fillna(obj_columns.mode().iloc[0])

In [ ]:
obj_columns.isnull().sum()

Weather    0
dtype: int64

In [ ]:
data_cleaned3.shape

(157, 8)

In [ ]:
#Join the data set with imputed object dataset
data_cleaned4=pd.concat([data_cleaned3,obj_columns],axis=1)

In [ ]:
data_cleaned4.isnull().sum()

Ozone      0
Solar      7
Wind       0
Month      1
Day        0
Year       0
Temp       0
Weather    3
Weather    0
dtype: int64

Scatter Plot And Correlation Analysis

In [5]:
# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
sns.pairplot(data_cleaned3)

NameError: name 'data_cleaned3' is not defined

In [6]:
#Correlation
data_cleaned3.corr()

NameError: name 'data_cleaned3' is not defined

Transformations

In [4]:
#Creating dummy variable for Weather column
data_cleaned4=pd.get_dummies(data,columns=['Weather'])

NameError: name 'data' is not defined

In [ ]:
data_cleaned4

,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather_C,Weather_PS,Weather_S
0,41.0,190.0,7.4,67.0,5.0,1,2010,67,0,0,1
1,36.0,118.0,8.0,72.0,5.0,2,2010,72,1,0,0
2,12.0,149.0,12.6,74.0,5.0,3,2010,74,0,1,0
3,18.0,313.0,11.5,62.0,5.0,4,2010,62,0,0,1
4,NaN,NaN,14.3,56.0,5.0,5,2010,56,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
153,41.0,190.0,7.4,67.0,5.0,1,2010,67,1,0,0
154,30.0,193.0,6.9,70.0,9.0,26,2010,70,0,1,0
155,NaN,145.0,13.2,77.0,9.0,27,2010,77,0,0,1
156,14.0,191.0,14.3,75.0,9.0,28,2010,75,0,0,1
157,18.0,131.0,8.0,76.0,9.0,29,2010,76,1,0,0

In [ ]:
data_cleaned4=data_cleaned4.dropna()

Normalization of the Data

In [ ]:
#Normalization of the data
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [ ]:
data_cleaned4.values

array([[ 41. , 190. ,   7.4, ...,   0. ,   0. ,   1. ],
       [ 36. , 118. ,   8. , ...,   1. ,   0. ,   0. ],
       [ 12. , 149. ,  12.6, ...,   0. ,   1. ,   0. ],
       ...,
       [ 30. , 193. ,   6.9, ...,   0. ,   1. ,   0. ],
       [ 14. , 191. ,  14.3, ...,   0. ,   0. ,   1. ],
       [ 18. , 131. ,   8. , ...,   1. ,   0. ,   0. ]])

In [ ]:
array = data_cleaned3.values

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(array[:,0:5])

#transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

[[0.24 0.56 0.3  0.   0.  ]
 [0.21 0.34 0.33 0.   0.03]
 [0.07 0.43 0.57 0.   0.07]
 [0.1  0.94 0.52 0.   0.1 ]
 [0.24  nan 0.66 0.   0.13]]

In [ ]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler

In [ ]:
array = data_cleaned4.values
scaler = StandardScaler().fit(array)
rescaledX = scaler.transform(array)

# summarize transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

[[-0.02  0.05 -0.71 -1.15 -1.53 -1.7   0.   -1.15 -0.64 -0.68  1.28]
 [-0.17 -0.75 -0.54 -0.62 -1.53 -1.59  0.   -0.62  1.57 -0.68 -0.78]
 [-0.9  -0.41  0.77 -0.4  -1.53 -1.48  0.   -0.4  -0.64  1.47 -0.78]
 [-0.72  1.43  0.45 -1.69 -1.53 -1.36  0.   -1.69 -0.64 -0.68  1.28]
 [-0.57  1.27 -0.37 -1.37 -1.53 -1.02  0.   -1.37 -0.64  1.47 -0.78]]

Speed up the EDA Process

In [3]:
EDA_report= pp.ProfileReport(data)
EDA_report.to_file(output_file='report.html')

NameError: name 'data' is not defined

In [ ]:
sweet_report = sv.analyze(data)
sweet_report.show_html('weather_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report weather_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.